[submodule "xenbus"]
	path = xenbus
	url = https://github.com/xcp-ng/win-xenbus.git
[submodule "xencons"]
	path = xencons
	url = https://github.com/xcp-ng/win-xencons.git
[submodule "xenhid"]
	path = xenhid
	url = https://github.com/xcp-ng/win-xenhid.git
[submodule "xeniface"]
	path = xeniface
	url = https://github.com/xcp-ng/win-xeniface.git
[submodule "xennet"]
	path = xennet
	url = https://github.com/xcp-ng/win-xennet.git
[submodule "xenvbd"]
	path = xenvbd
	url = https://github.com/xcp-ng/win-xenvbd.git
[submodule "xenvif"]
	path = xenvif
	url = https://github.com/xcp-ng/win-xenvif.git
[submodule "xenvkbd"]
	path = xenvkbd
	url = https://github.com/xcp-ng/win-xenvkbd.git
