[submodule "xenbus"]
	path = xenbus
	url = https://xenbits.xen.org/git-http/pvdrivers/win/xenbus.git
[submodule "xencons"]
	path = xencons
	url = https://xenbits.xen.org/git-http/pvdrivers/win/xencons.git
[submodule "xenhid"]
	path = xenhid
	url = https://xenbits.xen.org/git-http/pvdrivers/win/xenhid.git
[submodule "xeniface"]
	path = xeniface
	url = https://xenbits.xen.org/git-http/pvdrivers/win/xeniface.git
[submodule "xennet"]
	path = xennet
	url = https://xenbits.xen.org/git-http/pvdrivers/win/xennet.git
[submodule "xenvbd"]
	path = xenvbd
	url = https://xenbits.xen.org/git-http/pvdrivers/win/xenvbd.git
[submodule "xenvif"]
	path = xenvif
	url = https://xenbits.xen.org/git-http/pvdrivers/win/xenvif.git
[submodule "xenvkbd"]
	path = xenvkbd
	url = https://xenbits.xen.org/git-http/pvdrivers/win/xenvkbd.git
