<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="NuGet" value="https://api.nuget.org/v3/index.json" />
    <add key="XCP-ng" value="https://nuget.pkg.github.com/xcp-ng/index.json" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="NuGet">
      <package pattern="Microsoft.*" />
      <package pattern="System.*" />
    </packageSource>
    <packageSource key="XCP-ng">
      <package pattern="WixToolset.*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
