<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget" value="https://api.nuget.org/v3/index.json" />
    <add key="xcpng" value="https://nuget.pkg.github.com/xcp-ng/index.json" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="nuget">
      <package pattern="Microsoft.*" />
      <package pattern="System.*" />
    </packageSource>
    <packageSource key="xcpng">
      <package pattern="WixToolset.*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
