<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget" value="https://api.nuget.org/v3/index.json" />
    <add key="wix" value=".\deps\wix" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="nuget">
      <package pattern="xunit.v3" />
      <package pattern="Microsoft.*" />
      <package pattern="System.*" />
      <package pattern="Costura.Fody" />
      <package pattern="Fody" />
      <package pattern="xunit.analyzers" />
      <package pattern="xunit.v3.assert" />
      <package pattern="xunit.v3.common" />
      <package pattern="xunit.v3.core.mtp-v1" />
      <package pattern="xunit.v3.extensibility.core" />
      <package pattern="xunit.v3.mtp-v1" />
      <package pattern="xunit.v3.runner.common" />
      <package pattern="xunit.v3.runner.inproc.console" />
      <package pattern="runtime.*.Microsoft.DotNet.ILCompiler" />
    </packageSource>
    <packageSource key="wix">
      <package pattern="WixToolset.*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
