<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
    <?define XenDriver="Xenbus" ?>
    <?include ../Driver.wxi ?>

    <ComponentGroup Id="$(XenDriver)Component" Directory="$(XenDriver)Dir" Source="!(bindpath.output)$(XenDriver)/$(Platform)">
      <File Name="xen.sys" />
      <File Name="xenbus.cat" DefaultVersion="$(XenbusVersion)" DefaultLanguage="1033" />
      <File Name="xenbus.inf" Id="Xenbus.inf" DefaultVersion="$(XenbusVersion)" DefaultLanguage="1033" />
      <File Name="xenbus.sys" />
      <File Name="xenbus_monitor.dll" />
      <File Name="xenbus_monitor.exe" />
      <File Name="xenfilt.sys" />
    </ComponentGroup>

    <!-- see Xenbus!FiltersInstall and FiltersUninstall -->
    <CustomAction Id="XenbusCleanup" BinaryRef="xeninst.dll" DllEntry="XenbusCleanup" Execute="deferred" Impersonate="no" />
    <!-- Xenbus reinstalls its filters by itself, normally there's no need to rollback -->

    <!-- remove remnant Xenfilt config from Citrix/WU drivers -->
    <CustomAction Id="XenfiltReset" BinaryRef="xeninst.dll" DllEntry="XenfiltReset" Execute="deferred" Impersonate="no" />

    <!-- manually lay out Xenbus so that it goes before/after all other drivers during install/uninstall -->
    <InstallExecuteSequence>
      <!-- only do XenfiltReset on new installs -->
      <Custom Action="XenfiltReset" Before="XenbusInstallRollback" Condition="?Xenbus.inf=2 AND $Xenbus.inf=3" />
      <Custom Action="XenbusInstallRollback" After="InstallFiles" />
      <Custom Action="XenbusInstall" After="XenbusInstallRollback" Condition="$Xenbus.inf=3" />
      <Custom Action="XenbusUninstallRollback" After="InstallInitialize" />
      <Custom Action="XenbusUninstall" After="XenbusUninstallRollback" Condition="$Xenbus.inf=2" />

      <Custom Action="XenbusServiceDelete" Before="XenbusCleanup" Condition="$Xenbus.inf=2 AND XenbusServiceDelete" />
      <Custom Action="XenbusCleanup" Before="ProcessComponents" Condition="$Xenbus.inf=2" />
    </InstallExecuteSequence>

    <UI>
      <ProgressText Action="XenbusCleanup" Message="!(loc.XenbusCleanupText)" />
      <ProgressText Action="XenbusInstall" Message="!(loc.DriverInstallText)" />
      <ProgressText Action="XenbusUninstall" Message="!(loc.DriverUninstallText)" />
    </UI>

    <SetProperty Id="XenbusServiceDelete" Value="Services=xenbus_monitor,xenbus,xenfilt" After="CostFinalize" Sequence="execute" />
  </Fragment>
</Wix>
