<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
    <?define XenDriver="Xenbus" ?>
    <?include ../Driver.wxi ?>

    <InstallExecuteSequence>
      <!-- manually lay out Xenbus so that it goes after all other drivers -->
      <Custom Action="XenbusInstallRollback" After="InstallFiles" Condition="(NOT Installed) OR REINSTALL" />
      <Custom Action="XenbusInstall" After="XenbusInstallRollback" Condition="(NOT Installed) OR REINSTALL" />
      <Custom Action="XenbusUninstallRollback" Before="ProcessComponents" Condition="REMOVE OR REINSTALL" />
      <Custom Action="XenbusUninstall" After="XenbusUninstallRollback" Condition="REMOVE OR REINSTALL" />
    </InstallExecuteSequence>
  </Fragment>
</Wix>
