<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
    <?define XenDriver="Xencons" ?>
    <?define XenDriverDependsOn="Xenbus" ?>
    <?include ../Driver.wxi ?>

    <ComponentGroup Id="$(XenDriver)Component" Directory="$(XenDriver)Dir" Source="!(bindpath.driver-bins)$(XenDriver)">
      <File Name="xencons.cat" DefaultVersion="$(XenconsVersion)" DefaultLanguage="1033" />
      <File Name="xencons.inf" Id="Xencons.inf" DefaultVersion="$(XenconsVersion)" DefaultLanguage="1033" />
      <File Name="xencons.sys" />
      <File Name="xencons_monitor.exe" />
      <File Name="xencons_tty.exe" />
    </ComponentGroup>

    <SetProperty Id="$(XenDriver)ServiceDelete" Value="Services=xencons_monitor,xencons" After="CostFinalize" Sequence="execute" />
  </Fragment>
</Wix>
