<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
    <?define XenDriver="Xenhid" ?>
    <?define XenComponentInstalledGuid="{A86C26C0-33AB-49BF-9391-231F64B30743}" ?>
    <?define XenDriverDependsOn="Xenvkbd" ?>
    <?include ../Driver.wxi ?>

    <ComponentGroup Id="$(XenDriver)Component" Directory="$(XenDriver)Dir" Source="!(bindpath.driver-bins)$(XenDriver)">
      <ComponentRef Id="$(XenDriver)ComponentInstalled" />
      <File Name="xenhid.cat" DefaultVersion="$(XenhidVersion)" DefaultLanguage="1033" />
      <File Name="xenhid.inf" Id="Xenhid.inf" DefaultVersion="$(XenhidVersion)" DefaultLanguage="1033" />
      <File Name="xenhid.sys" />
    </ComponentGroup>

    <SetProperty
      Id="$(XenDriver)ServiceDelete"
      Value="Services=xenhid"
      After="CostFinalize"
      Sequence="execute"
      Condition="NOT XEN_SKIP_CA" />
  </Fragment>
</Wix>
