<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
    <?define XenDriver="Xennet" ?>
    <?define XenDriverDependsOn="Xenvif" ?>
    <?define XenDriverUpgradeNeedsReboot ?>
    <?include ../Driver.wxi ?>

    <ComponentGroup Id="$(XenDriver)Component" Directory="$(XenDriver)Dir" Source="!(bindpath.driver-bins)$(XenDriver)">
      <File Name="xennet.cat" DefaultVersion="$(XennetVersion)" DefaultLanguage="1033" />
      <File Name="xennet.inf" Id="Xennet.inf" DefaultVersion="$(XennetVersion)" DefaultLanguage="1033" />
      <File Name="xennet.sys" />
    </ComponentGroup>

    <CustomAction Id="XennetCleanup" BinaryRef="xeninst.dll" DllEntry="XennetCleanup" Execute="deferred" Impersonate="no" />

    <!-- although the actions are named Xenvif, they must be executed during Xennet uninstall since the VIF settings are bound to Xennet instances -->

    <CustomAction Id="XenvifBackup" BinaryRef="xeninst.dll" DllEntry="XenvifBackup" Execute="deferred" Impersonate="no" />
    <CustomAction Id="XenvifPrepareRestore" BinaryRef="xeninst.dll" DllEntry="XenvifPrepareRestore" Execute="deferred" Impersonate="no" />

    <InstallExecuteSequence>
      <Custom Action="XenvifPrepareRestore" Before="XennetUninstall" Condition="&amp;XennetInternalFeature=2" />
      <Custom Action="XenvifBackup" Before="XenvifPrepareRestore" Condition="&amp;XennetInternalFeature=2" />
      <Custom Action="XennetCleanup" Before="XenbusCleanup" Condition="&amp;XennetInternalFeature=2" />
    </InstallExecuteSequence>

    <SetProperty Id="$(XenDriver)ServiceDelete" Value="Services=xennet" After="CostFinalize" Sequence="execute" />
  </Fragment>
</Wix>
