<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
    <?define XenDriver="Xenvif" ?>
    <?define XenDriverDependsOn="Xenbus" ?>
    <?include ../Driver.wxi ?>

    <ComponentGroup Id="$(XenDriver)Component" Directory="$(XenDriver)Dir" Source="!(bindpath.output)$(XenDriver)/$(Platform)/$(Configuration)">
      <File Name="xenvif.cat" DefaultVersion="$(XenvifVersion)" DefaultLanguage="1033" />
      <File Name="xenvif.inf" Id="Xenvif.inf" DefaultVersion="$(XenvifVersion)" DefaultLanguage="1033" />
      <File Name="xenvif.sys" />
    </ComponentGroup>

    <!-- see Xennet.wxs for Xenvif backup/restore -->

    <SetProperty Id="$(XenDriver)ServiceDelete" Value="Services=xenvif" After="CostFinalize" Sequence="execute" />
  </Fragment>
</Wix>
