<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
    <?define XenDriver="Xenvbd" ?>
    <?define XenDriverDependsOn="Xenbus" ?>
    <?include ../Driver.wxi ?>

    <ComponentGroup Id="$(XenDriver)Component" Directory="$(XenDriver)Dir" Source="!(bindpath.output)$(XenDriver)/$(Platform)">
      <File Name="xencrsh.sys" />
      <File Name="xendisk.sys" />
      <File Name="xenvbd.cat" DefaultVersion="$(XenvbdVersion)" DefaultLanguage="1033" />
      <File Name="xenvbd.inf" Id="Xenvbd.inf" DefaultVersion="$(XenvbdVersion)" DefaultLanguage="1033" />
      <File Name="xenvbd.sys" />
    </ComponentGroup>

    <CustomAction Id="XenvbdCleanup" BinaryRef="xeninst.dll" DllEntry="XenvbdCleanup" Execute="deferred" Impersonate="no" />

    <InstallExecuteSequence>
      <Custom Action="XenvbdCleanup" After="XenvbdServiceDelete" Condition="$Xenvbd.inf=2" />
    </InstallExecuteSequence>
  </Fragment>
</Wix>
