<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
    <?define XenDriver="Xenvbd" ?>
    <?define XenDriverDependsOn="Xenbus" ?>
    <?define XenDriverUpgradeNeedsReboot ?>
    <?include ../Driver.wxi ?>

    <ComponentGroup Id="$(XenDriver)Component" Directory="$(XenDriver)Dir" Source="!(bindpath.output)$(XenDriver)/$(Platform)">
      <File Name="xencrsh.sys" />
      <File Name="xendisk.sys" />
      <File Name="xenvbd.cat" DefaultVersion="$(XenvbdVersion)" DefaultLanguage="1033" />
      <File Name="xenvbd.inf" Id="Xenvbd.inf" DefaultVersion="$(XenvbdVersion)" DefaultLanguage="1033" />
      <File Name="xenvbd.sys" />
    </ComponentGroup>

    <CustomAction Id="XenvbdCleanup" BinaryRef="xeninst.dll" DllEntry="XenvbdCleanup" Execute="deferred" Impersonate="no" />

    <!-- this is needed for 3rd-party storage drivers to reappear after uninstallation, so that cleanup happens correctly -->
    <CustomAction Id="XenvbdWaitDriverUninstall" BinaryRef="xeninst.dll" DllEntry="DriverWaitInstallFinish" Execute="deferred" Impersonate="no" />

    <InstallExecuteSequence>
      <Custom Action="XenvbdWaitDriverUninstall" Before="XenvbdCleanup" Condition="$Xenvbd.inf=2" />
      <Custom Action="XenvbdCleanup" Before="XenbusCleanup" Condition="$Xenvbd.inf=2" />
    </InstallExecuteSequence>

    <SetProperty Id="$(XenDriver)ServiceDelete" Value="Services=xendisk,xenvbd" After="CostFinalize" Sequence="execute" />
  </Fragment>
</Wix>
