<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
    <?define XenDriver="Xenvkbd" ?>
    <?define XenDriverDependsOn="Xenbus" ?>
    <?include ../Driver.wxi ?>

    <ComponentGroup Id="$(XenDriver)Component" Directory="$(XenDriver)Dir" Source="!(bindpath.driver-bins)$(XenDriver)">
      <File Name="xenvkbd.cat" DefaultVersion="$(XenvkbdVersion)" DefaultLanguage="1033" />
      <File Name="xenvkbd.inf" Id="Xenvkbd.inf" DefaultVersion="$(XenvkbdVersion)" DefaultLanguage="1033" />
      <File Name="xenvkbd.sys" />
    </ComponentGroup>

    <SetProperty Id="$(XenDriver)ServiceDelete" Value="Services=xenvkbd" After="CostFinalize" Sequence="execute" />
  </Fragment>
</Wix>
