AccessModifierOffset: -4
AlignAfterOpenBracket: AlwaysBreak
AlignConsecutiveAssignments: "false"
AlignConsecutiveDeclarations: "false"
AlignConsecutiveMacros: "false"
AlignEscapedNewlines: DontAlign
AlignOperands: "false"
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortBlocksOnASingleLine: Empty
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AlwaysBreakTemplateDeclarations: Yes
BinPackArguments: false
BinPackParameters: false
BreakBeforeBraces: Attach
ColumnLimit: 120
Cpp11BracedListStyle: true
IndentWidth: 4
NamespaceIndentation: None
PointerAlignment: Right
SortIncludes: false
SortUsingDeclarations: false
SpaceBeforeCpp11BracedList: false
TabWidth: 4
UseTab: Never
