<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <?include Include.wxi ?>

  <Fragment>
    <Feature Id="PVBusFeature" AllowAdvertise="no" Display="expand" Title="!(loc.PVBusFeatureTitle)" Description="!(loc.PVBusFeatureDescription)">
      <ComponentGroupRef Id="XenbusComponent" />
      <Feature Id="PVConsoleFeature" AllowAdvertise="no" Title="!(loc.PVConsoleFeatureTitle)" Description="!(loc.PVConsoleFeatureDescription)">
        <ComponentGroupRef Id="XenconsComponent" />
      </Feature>
      <Feature Id="PVIfaceFeature" AllowAdvertise="no" Display="expand" Title="!(loc.PVIfaceFeatureTitle)" Description="!(loc.PVIfaceFeatureDescription)">
        <ComponentGroupRef Id="XenifaceComponent" />
      </Feature>
      <Feature Id="PVNetworkFeature" AllowAdvertise="no" Title="!(loc.PVNetworkFeatureTitle)" Description="!(loc.PVNetworkFeatureDescription)">
        <ComponentGroupRef Id="XenvifComponent" />
        <ComponentGroupRef Id="XennetComponent" />
      </Feature>
      <Feature Id="PVDiskFeature" AllowAdvertise="no" Title="!(loc.PVDiskFeatureTitle)" Description="!(loc.PVDiskFeatureDescription)">
        <ComponentGroupRef Id="XenvbdComponent" />
      </Feature>
      <Feature Id="PVHidFeature" AllowAdvertise="no" Title="!(loc.PVHidFeatureTitle)" Description="!(loc.PVHidFeatureDescription)">
        <ComponentGroupRef Id="XenvkbdComponent" />
        <ComponentGroupRef Id="XenhidComponent" />
      </Feature>
    </Feature>
  </Fragment>
</Wix>
