<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <?include Include.wxi ?>

  <Fragment>
    <Feature Id="PVBusFeature" AllowAdvertise="no" Display="expand" Title="!(loc.PVBusFeatureTitle)" Description="!(loc.PVBusFeatureDescription)">
      <FeatureRef Id="XenbusInternalFeature" />
      <Feature Id="PVConsoleFeature" AllowAdvertise="no" Title="!(loc.PVConsoleFeatureTitle)" Description="!(loc.PVConsoleFeatureDescription)">
        <FeatureRef Id="XenconsInternalFeature" />
      </Feature>
      <Feature Id="PVIfaceFeature" AllowAdvertise="no" Display="expand" Title="!(loc.PVIfaceFeatureTitle)" Description="!(loc.PVIfaceFeatureDescription)">
        <FeatureRef Id="XenifaceInternalFeature" />
      </Feature>
      <Feature Id="PVNetworkFeature" AllowAdvertise="no" Title="!(loc.PVNetworkFeatureTitle)" Description="!(loc.PVNetworkFeatureDescription)">
        <FeatureRef Id="XenvifInternalFeature" />
        <FeatureRef Id="XennetInternalFeature" />
      </Feature>
      <Feature Id="PVDiskFeature" AllowAdvertise="no" Title="!(loc.PVDiskFeatureTitle)" Description="!(loc.PVDiskFeatureDescription)">
        <FeatureRef Id="XenvbdInternalFeature" />
      </Feature>
      <Feature Id="PVHidFeature" AllowAdvertise="no" Title="!(loc.PVHidFeatureTitle)" Description="!(loc.PVHidFeatureDescription)">
        <FeatureRef Id="XenvkbdInternalFeature" />
        <FeatureRef Id="XenhidInternalFeature" />
      </Feature>
    </Feature>
  </Fragment>
</Wix>
