<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <?include Include.wxi ?>
  <Fragment>
    <StandardDirectory Id="ProgramFiles6432Folder">
      <Directory Id="ManufacturerFolder" Name="$(VENDOR_NAME)">
        <Directory Id="INSTALLFOLDER" Name="!(loc.GenericProductName)" />
      </Directory>
    </StandardDirectory>
  </Fragment>
</Wix>
