<?xml version="1.0" encoding="UTF-8"?>
<Wix
  xmlns="http://wixtoolset.org/schemas/v4/wxs"
  xmlns:util="http://wixtoolset.org/schemas/v4/wxs/util">
  <?include Include.wxi?>

  <Fragment>
    <Feature
      Id="GuestAgentFeature"
      AllowAdvertise="no"
      Display="collapse"
      Title="!(loc.GuestAgentFeatureTitle)"
      Description="!(loc.GuestAgentFeatureDescription)">
      <ComponentGroupRef Id="GuestAgentComponent" />
      <Feature
        Id="WinClipboardFeature"
        AllowAdvertise="no"
        Title="!(loc.WinClipboardFeatureTitle)"
        Description="!(loc.WinClipboardFeatureDescription)">
        <ComponentGroupRef Id="WinClipboardComponent" />
      </Feature>
    </Feature>

    <DirectoryRef Id="INSTALLFOLDER">
      <Directory Id="XenGuestAgentFolder" Name="XenGuestAgent" />
    </DirectoryRef>

    <ComponentGroup Id="GuestAgentComponent" Directory="XenGuestAgentFolder">
      <Component>
        <File Source="!(bindpath.xenguestagent)\xen-guest-agent.exe" Id="xen_guest_agent.exe" />
        <ServiceInstall
          Name="$(VENDOR_PREFIX)-xenguestagent-rs"
          DisplayName="!(loc.GuestAgentServiceDisplayName)"
          EraseDescription="yes"
          Arguments="--service"
          Type="ownProcess"
          Start="auto"
          Account="NT AUTHORITY\SYSTEM"
          ErrorControl="ignore">
          <util:ServiceConfig
            FirstFailureActionType="restart"
            SecondFailureActionType="restart"
            ThirdFailureActionType="restart"
            RestartServiceDelayInSeconds="300" />
        </ServiceInstall>
        <ServiceControl
          Name="$(VENDOR_PREFIX)-xenguestagent-rs"
          Start="install"
          Stop="both"
          Remove="uninstall" />
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="WinClipboardComponent" Directory="XenGuestAgentFolder">
      <Component>
        <File Source="!(bindpath.xenguestagent)\xen-win-clipboard.exe" Id="xen_win_clipboard.exe" />
        <RegistryValue
          Root="HKLM"
          Key="SOFTWARE\Microsoft\Windows\CurrentVersion\Run"
          Name="$(VENDOR_PREFIX)-xen-win-clipboard"
          Type="string"
          Value='"[#xen_win_clipboard.exe]"' />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
