<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
    <Binary Id="xeninst.dll" SourceFile="xeninst.CA.dll" />
  </Fragment>

  <Fragment>
    <CustomAction Id="XenCheckIncompatibleDevices" BinaryRef="xeninst.dll" DllEntry="CheckIncompatibleDevices" Execute="immediate" Impersonate="no" />
    <InstallUISequence>
      <Custom Action="XenCheckIncompatibleDevices" Before="LaunchConditions" />
    </InstallUISequence>
    <InstallExecuteSequence>
      <Custom Action="XenCheckIncompatibleDevices" Before="LaunchConditions" />
    </InstallExecuteSequence>
    <Launch Condition="NOT IncompatibleDevices" Message="!(loc.IncompatibleDevicesError)" />
  </Fragment>

  <Fragment>
    <CustomAction Id="CheckRebootCA" BinaryRef="xeninst.dll" DllEntry="CheckReboot" Execute="immediate" Impersonate="no" />
    <InstallExecuteSequence>
      <Custom Action="CheckRebootCA" After="InstallFinalize" />
    </InstallExecuteSequence>
  </Fragment>

  <Fragment>
    <CustomAction Id="XenCheckWindowsVersion" BinaryRef="xeninst.dll" DllEntry="CheckWindowsVersion" Execute="immediate" Impersonate="no" />
    <InstallUISequence>
      <Custom Action="XenCheckWindowsVersion" Before="LaunchConditions" />
    </InstallUISequence>
    <InstallExecuteSequence>
      <Custom Action="XenCheckWindowsVersion" Before="LaunchConditions" />
    </InstallExecuteSequence>
    <Launch Condition="NOT XenWindowsNotSupported" Message="!(loc.XenWindowsNotSupportedError)" />
  </Fragment>
</Wix>
