<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
    <Binary Id="xeninst.dll" SourceFile="xeninst.CA.dll" />
    <CustomAction Id="CheckRebootCA" BinaryRef="xeninst.dll" DllEntry="CheckReboot" Execute="immediate" Impersonate="no" />
  </Fragment>
</Wix>
