<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
    <Binary Id="xeninst.dll" SourceFile="!(bindpath.xeninstca)xeninst.CA.dll" />
  </Fragment>

  <!-- Note that launch conditions here mean "continue if true", and so conditions that block installation must be inverted -->

  <Fragment>
    <CustomAction Id="XenCheckIncompatibleDevices" BinaryRef="xeninst.dll" DllEntry="CheckIncompatibleDevices" Execute="firstSequence" Impersonate="no" />
    <!-- Need to block upgrade, thus the check for UPGRADINGPRODUCTCODE. Change is blocked but uninstall is still possible -->
    <InstallUISequence>
      <Custom Action="XenCheckIncompatibleDevices" Before="LaunchConditions" Condition="NOT REMOVE OR UPGRADINGPRODUCTCODE" />
    </InstallUISequence>
    <InstallExecuteSequence>
      <Custom Action="XenCheckIncompatibleDevices" Before="LaunchConditions" Condition="NOT REMOVE OR UPGRADINGPRODUCTCODE" />
    </InstallExecuteSequence>
    <Launch Condition="NOT IncompatibleDevices" Message="!(loc.IncompatibleDevicesError)" />
  </Fragment>

  <Fragment>
    <CustomAction Id="XenCheckWindowsVersion" BinaryRef="xeninst.dll" DllEntry="CheckWindowsVersion" Execute="firstSequence" Impersonate="no" />
    <InstallUISequence>
      <Custom Action="XenCheckWindowsVersion" Before="LaunchConditions" />
    </InstallUISequence>
    <InstallExecuteSequence>
      <Custom Action="XenCheckWindowsVersion" Before="LaunchConditions" />
    </InstallExecuteSequence>
    <Launch Condition="NOT XenWindowsNotSupported" Message="!(loc.XenWindowsNotSupportedError)" />
  </Fragment>

  <Fragment>
    <CustomAction Id="XenCheckReadyForCopyXenvif" BinaryRef="xeninst.dll" DllEntry="CheckReadyForCopyXenvif" Execute="firstSequence" Impersonate="no" />
    <InstallUISequence>
      <Custom Action="XenCheckReadyForCopyXenvif" Before="LaunchConditions" />
    </InstallUISequence>
    <InstallExecuteSequence>
      <Custom Action="XenCheckReadyForCopyXenvif" Before="LaunchConditions" />
    </InstallExecuteSequence>
    <Launch Condition="NOT NotReadyForCopyXenvif" Message="!(loc.NotReadyForCopyXenvifError)" />
  </Fragment>

  <Fragment>
    <CustomAction Id="XenCheck3PStorageDrivers" BinaryRef="xeninst.dll" DllEntry="Check3PStorageDrivers" Execute="immediate" Impersonate="no" />
    <!-- Check3PStorageDrivers is currently only used for Detected3PStorageDriversDlg. So no need to run this during InstallExecuteSequence. -->
    <InstallUISequence>
      <Custom Action="XenCheck3PStorageDrivers" Before="LaunchConditions" Condition="NOT(REINSTALL OR REMOVE)" />
    </InstallUISequence>
  </Fragment>

  <Fragment>
    <CustomAction Id="XenWaitDriverInstall" BinaryRef="xeninst.dll" DllEntry="DriverWaitInstallFinish" Execute="deferred" Impersonate="no" />
    <InstallExecuteSequence>
      <Custom Action="XenWaitDriverInstall" After="WriteRegistryValues" />
    </InstallExecuteSequence>
    <UI>
      <ProgressText Action="XenWaitDriverInstall" Message="!(loc.XenWaitDriverInstallText)" />
    </UI>
  </Fragment>

  <Fragment>
    <CustomAction Id="XenScheduleRebootCA" BinaryRef="xeninst.dll" DllEntry="ScheduleReboot" Execute="immediate" Impersonate="no" />
    <InstallExecuteSequence>
      <Custom Action="XenScheduleRebootCA" After="InstallFinalize" />
    </InstallExecuteSequence>
  </Fragment>
</Wix>
