<?xml version="1.0" encoding="utf-8"?>
<Wix
  xmlns="http://wixtoolset.org/schemas/v4/wxs"
  xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">
  <?include Include.wxi ?>

  <Package
    Name="!(loc.ProductName)"
    Manufacturer="$(VENDOR_NAME)"
    Version="$(ProductVersion)"
    UpgradeCode="$(var.UpgradeCode)"
    Scope="perMachine">
    <SummaryInformation Description="!(loc.GenericProductName) $(Configuration) $(ProductVersion) $(Platform)" />

    <MediaTemplate EmbedCab="yes" />

    <?if $(Platform) = x86 ?>
    <Launch Condition="NOT VersionNT64" Message="!(loc.MachineIsX64Error)" />
    <?endif ?>

    <PropertyRef Id="WIX_IS_NETFRAMEWORK_462_OR_LATER_INSTALLED" />
    <Launch Condition="WIX_IS_NETFRAMEWORK_462_OR_LATER_INSTALLED" Message="!(loc.NetFx462RequiredError)" />

    <?if $(Platform) = x86 ?>
    <!-- XCP-ng v8 x86 -->
    <Upgrade Id="{EE3B949D-C431-462b-B6DC-5BEDA078D772}">
      <UpgradeVersion Maximum="255.255.65535.65535" OnlyDetect="yes" Property="OLD_DRIVERS_X86_DETECTED" />
    </Upgrade>
    <Launch Condition="NOT OLD_DRIVERS_X86_DETECTED" Message="!(loc.OldDriversDetectedError)" />
    
    <?elseif  $(Platform) = x64 ?>
    <!-- XCP-ng v8 x64 -->
    <Upgrade Id="{48E5492C-6843-452E-97A2-A5FE2D24B141}">
      <UpgradeVersion Maximum="255.255.65535.65535" OnlyDetect="yes" Property="OLD_DRIVERS_X64_DETECTED" />
    </Upgrade>
    <Launch Condition="NOT OLD_DRIVERS_X64_DETECTED" Message="!(loc.OldDriversDetectedError)" />
    
    <!-- Citrix x64 -->
    <Upgrade Id="{AF9B2559-3E91-4206-98C2-F560009FF7F1}">
      <UpgradeVersion Maximum="255.255.65535.65535" OnlyDetect="yes" Property="CITRIX_DRIVERS_X64_DETECTED" />
    </Upgrade>
    <?endif ?>
    <Launch Condition="NOT CITRIX_DRIVERS_X64_DETECTED" Message="!(loc.CitrixDriversDetectedError)" />
    
    <Upgrade Id="$(var.UpgradeCode)">
      <UpgradeVersion Maximum="$(ProductVersion)" IncludeMinimum="no" IncludeMaximum="no" MigrateFeatures="yes" Property="UPGRADE_DETECTED" />
      <UpgradeVersion Minimum="$(ProductVersion)" IncludeMinimum="no" IncludeMaximum="no" OnlyDetect="yes" Property="DOWNGRADE_DETECTED" />
    </Upgrade>
    <Launch Condition="NOT DOWNGRADE_DETECTED" Message="!(loc.DowngradeError)" />
    <!--
      I wanted to add this but it triggers for any pending moves, even irrelevant ones.
      Maybe there's a better alternative somewhere else.
    -->
    <!--<Launch Condition="REMOVE OR (NOT MsiSystemRebootPending)" Message="!(loc.RebootPendingError)" />-->

    <ui:WixUI Id="WixUI_FeatureTree" />
    <UIRef Id="WixUI_ErrorProgressText" />

    <ComponentGroupRef Id="BrandingComponent" />

    <Feature Id="PVBusFeature" AllowAdvertise="no" AllowAbsent="no" Title="!(loc.PVBusFeatureTitle)">
      <ComponentGroupRef Id="XenbusComponent" />
    </Feature>
    <Feature Id="PVConsoleFeature" AllowAdvertise="no" Title="!(loc.PVConsoleFeatureTitle)">
      <ComponentGroupRef Id="XenconsComponent" />
    </Feature>
    <Feature Id="PVHidFeature" AllowAdvertise="no" Title="!(loc.PVHidFeatureTitle)">
      <ComponentGroupRef Id="XenvkbdComponent" />
      <ComponentGroupRef Id="XenhidComponent" />
    </Feature>
    <Feature Id="PVIfaceFeature" AllowAdvertise="no" Title="!(loc.PVIfaceFeatureTitle)">
      <ComponentGroupRef Id="XenifaceComponent" />
    </Feature>
    <Feature Id="PVNetworkFeature" AllowAdvertise="no" Title="!(loc.PVNetworkFeatureTitle)">
      <ComponentGroupRef Id="XenvifComponent" />
      <ComponentGroupRef Id="XennetComponent" />
    </Feature>
    <Feature Id="PVDiskFeature" AllowAdvertise="no" Title="!(loc.PVDiskFeatureTitle)">
      <ComponentGroupRef Id="XenvbdComponent" />
    </Feature>

    <InstallExecuteSequence>
      <!-- We cannot afford to uninstall existing drivers during an upgrade. Thus the choice of InstallExecute. -->
      <RemoveExistingProducts After="InstallExecute" />
      <!--
        after installation, bus drivers issue reboot requests asynchronously through xenbus_monitor
        since we suppress xenbus_monitor reboot requests during installation, manually schedule reboot for concerned drivers anyway
      -->
      <ScheduleReboot After="InstallFinalize" Condition="($Xennet.inf&lt;&gt;-1) OR ($Xenvbd.inf&lt;&gt;-1)" />
    </InstallExecuteSequence>

    <CustomActionRef Id="CheckRebootCA" />
    <CustomActionRef Id="XenCheckIncompatibleDevices" />

    <Property Id="XenMinSupportedVersion" Value="10.0.14393" />
    <CustomActionRef Id="XenCheckWindowsVersion" />
  </Package>
</Wix>
