<?xml version="1.0" encoding="UTF-8"?>
<Wix
  xmlns="http://wixtoolset.org/schemas/v4/wxs"
  xmlns:util="http://wixtoolset.org/schemas/v4/wxs/util">
  <?include Include.wxi?>
  <?if $(Configuration) = Debug?>
  <?define TimeProviderFeatureDisplay = "collapse"?>
  <?define TimeProviderFeatureLevel = "1"?>
  <?else?>
  <?define TimeProviderFeatureDisplay = "hidden"?>
  <?define TimeProviderFeatureLevel = "0"?>
  <?endif?>

  <Fragment>
    <ComponentGroup Id="TimeProviderImportComponent" />
    <FeatureRef Id="PVIfaceFeature">
      <Feature
        Id="TimeProviderFeature"
        AllowAdvertise="no"
        Display="$(var.TimeProviderFeatureDisplay)"
        Level="$(var.TimeProviderFeatureLevel)"
        Title="!(loc.TimeProviderFeatureTitle)"
        Description="!(loc.TimeProviderFeatureDescription)">
        <ComponentGroupRef Id="TimeProviderComponent" />
        <ComponentGroupRef Id="DisableTimeSyncComponent" />
      </Feature>
    </FeatureRef>

    <DirectoryRef Id="INSTALLFOLDER">
      <Directory Id="XenTimeProviderFolder" Name="XenTimeProvider" />
    </DirectoryRef>

    <ComponentGroup Id="TimeProviderComponent" Directory="XenTimeProviderFolder">
      <Component>
        <File Source="!(bindpath.xentimeprovider)\xentimeprovider.dll" Id="xentimeprovider.dll" />
        <RegistryKey
          Root="HKLM"
          Key="SYSTEM\CurrentControlSet\Services\W32Time\TimeProviders\XenTimeProvider">
          <RegistryValue Name="DllName" Type="string" Value="[#xentimeprovider.dll]" />
          <RegistryValue Name="Enabled" Type="integer" Value="1" />
          <RegistryValue Name="InputProvider" Type="integer" Value="1" />
          <RegistryKey Key="Parameters">
            <RegistryValue Name="AllowFallback" Type="integer" Value="1" />
          </RegistryKey>
        </RegistryKey>
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
