<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <?include Include.wxi?>

  <Fragment>
    <!-- empty ComponentGroup just for reference -->
    <ComponentGroup Id="TweaksComponent" />
    <FeatureRef Id="PVIfaceFeature">
      <Feature
        Id="DisableTimeSyncFeature"
        AllowAdvertise="no"
        Title="!(loc.DisableTimeSyncFeatureTitle)"
        Description="!(loc.DisableTimeSyncFeatureDescription)">
        <ComponentGroupRef Id="DisableTimeSyncComponent" />
      </Feature>
    </FeatureRef>

    <ComponentGroup Id="DisableTimeSyncComponent">
      <Component>
        <RegistryValue
          Root="HKLM"
          Key="SYSTEM\CurrentControlSet\Services\xenagent"
          Name="TimeSyncMode"
          Type="integer"
          Value="0" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
