<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <?include Include.wxi?>

  <Fragment>
    <ComponentGroup Id="DisableTimeSyncComponent">
      <Component>
        <RegistryValue
          Root="HKLM"
          Key="SYSTEM\CurrentControlSet\Services\xenagent"
          Name="TimeSyncMode"
          Type="integer"
          Value="0" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
