<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <?include Include.wxi ?>
  
  <Fragment>
    <DirectoryRef Id="INSTALLFOLDER">
      <Directory Id="XennetDir" Name="Xennet" />
    </DirectoryRef>

    <ComponentGroup Id="XennetComponent" Directory="XennetDir">
      <Files Include="$(SourceFilesDir)/Xennet/$(Platform)/**" />
    </ComponentGroup>
  </Fragment>
</Wix>
