<?xml version="1.0" encoding="UTF-8"?>
<Wix
  xmlns="http://wixtoolset.org/schemas/v4/wxs"
  xmlns:util="http://wixtoolset.org/schemas/v4/wxs/util">
  <?include Include.wxi?>
  <?define ServiceName = "xenplus$(VENDOR_PREFIX)"?>

  <Fragment>
    <Feature
      Id="XenplusFeature"
      AllowAdvertise="no"
      Display="collapse"
      Title="!(loc.XenplusFeatureTitle)"
      Description="!(loc.XenplusFeatureDescription)">
      <ComponentGroupRef Id="XenplusComponentGroup" />
      <ComponentGroupRef Id="DisableTimeSyncComponent" />
      <Feature
        Id="XenplusSessionFeature"
        AllowAdvertise="no"
        Title="!(loc.XenplusSessionFeatureTitle)"
        Description="!(loc.XenplusSessionFeatureDescription)">
        <ComponentGroupRef Id="XenplusSessionComponentGroup" />
      </Feature>
    </Feature>

    <DirectoryRef Id="INSTALLFOLDER">
      <Directory Id="XenplusFolder" Name="xenplus" />
    </DirectoryRef>

    <ComponentGroup Id="XenplusComponentGroup">
      <Component Id="XenplusComponent" Directory="XenplusFolder">
        <File Source="!(bindpath.xenplus)\xenplus.exe" />
        <ServiceInstall
          Name="$(ServiceName)"
          DisplayName="!(loc.XenplusServiceDisplayName)"
          EraseDescription="yes"
          Type="ownProcess"
          Start="auto"
          Account="NT AUTHORITY\SYSTEM"
          ErrorControl="ignore">
          <util:ServiceConfig
            FirstFailureActionType="restart"
            SecondFailureActionType="restart"
            ThirdFailureActionType="restart"
            RestartServiceDelayInSeconds="300" />
        </ServiceInstall>
        <ServiceControl
          Name="$(ServiceName)"
          Start="install"
          Stop="both"
          Remove="uninstall" />
      </Component>
      <File
        Source="!(bindpath.xenplus)\appsettings.dist.json"
        Directory="XenplusFolder" />
    </ComponentGroup>

    <ComponentGroup Id="XenplusSessionComponentGroup">
      <Component>
        <File Source="!(bindpath.xenplus)\xenplus_session.exe" Id="xenplus_session.exe" />
        <RegistryValue
          Root="HKLM"
          Key="SOFTWARE\Microsoft\Windows\CurrentVersion\Run"
          Name="xenplus_session_$(VENDOR_PREFIX)"
          Type="string"
          Value='"[#xenplus_session.exe]"' />
      </Component>
    </ComponentGroup>

    <SetProperty
      Id="ConfigureXenplusService"
      Value="Service=$(ServiceName)"
      After="CostFinalize"
      Sequence="execute" />

    <CustomAction
      Id="ConfigureXenplusService"
      BinaryRef="xeninst.dll"
      DllEntry="ConfigureXenplusService"
      Execute="deferred"
      Impersonate="no" />

    <InstallExecuteSequence>
      <Custom
        Action="ConfigureXenplusService"
        After="InstallServices"
        Condition="$XenplusComponent=3" />
    </InstallExecuteSequence>
  </Fragment>
</Wix>
