<?xml version="1.0" encoding="UTF-8"?>
<Wix
  xmlns="http://wixtoolset.org/schemas/v4/wxs"
  xmlns:util="http://wixtoolset.org/schemas/v4/wxs/util">
  <?include Include.wxi?>

  <Fragment>
    <Feature
      Id="XenplusFeature"
      AllowAdvertise="no"
      Display="collapse"
      Title="!(loc.XenplusFeatureTitle)"
      Description="!(loc.XenplusFeatureDescription)">
      <ComponentGroupRef Id="XenplusComponentGroup" />
    </Feature>

    <DirectoryRef Id="INSTALLFOLDER">
      <Directory Id="XenplusFolder" Name="xenplus" />
    </DirectoryRef>

    <DirectoryRef Id="ManufacturerCADFolder">
      <Directory Id="XenplusCADFolder" Name="xenplus" />
    </DirectoryRef>

    <ComponentGroup Id="XenplusComponentGroup">
      <Component Id="XenplusComponent" Directory="XenplusFolder">
        <File Source="!(bindpath.xenplus)\xenplus.exe" />
        <ServiceInstall
          Name="xenplus$(VENDOR_PREFIX)"
          DisplayName="!(loc.XenplusServiceDisplayName)"
          EraseDescription="yes"
          Type="ownProcess"
          Start="auto"
          Account="NT AUTHORITY\SYSTEM"
          ErrorControl="ignore">
          <util:ServiceConfig
            FirstFailureActionType="restart"
            SecondFailureActionType="restart"
            ThirdFailureActionType="restart"
            RestartServiceDelayInSeconds="300" />
        </ServiceInstall>
        <ServiceControl
          Name="xenplus$(VENDOR_PREFIX)"
          Start="install"
          Stop="both"
          Remove="uninstall" />
      </Component>
      <File
        Source="!(bindpath.xenplus)\appsettings.dist.json"
        Directory="XenplusCADFolder" />
    </ComponentGroup>

    <SetProperty
      Id="ConfigureXenplusService"
      Value="Service=xenplus$(VENDOR_PREFIX)"
      After="CostFinalize"
      Sequence="execute" />

    <CustomAction
      Id="ConfigureXenplusService"
      BinaryRef="xeninst.dll"
      DllEntry="ConfigureXenplusService"
      Execute="deferred"
      Impersonate="no" />

    <InstallExecuteSequence>
      <Custom
        Action="ConfigureXenplusService"
        After="InstallServices"
        Condition="$XenplusComponent=3" />
    </InstallExecuteSequence>
  </Fragment>
</Wix>
