<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <?include Include.wxi?>

  <Fragment>
    <Feature
      Id="XstdvgaFeature"
      AllowAdvertise="no"
      Title="!(loc.XstdvgaFeatureTitle)"
      Description="!(loc.XstdvgaFeatureDescription)">
      <FeatureRef Id="XstdvgaInternalFeature" />
      <Component Location="local">
        <RegistryValue
          KeyPath="yes"
          Root="HKLM"
          Key="SOFTWARE\$(VENDOR_NAME)"
          Name="XstdvgaFeatureInstalled"
          Type="integer"
          Value="1" />
      </Component>
    </Feature>
  </Fragment>
</Wix>
